* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

h1{
  font-size: 70px;
  background-color: lightseagreen;
  padding: 40px 50px;
  border-radius: 10px;
  font-family: monospace;
}

button{
  padding: 20px 30px;
  background-color: papayawhip;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20%;
  color: #111;
}

button:active{
  scale: 0.95;
}