body{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0; */
  /* background: radial-g radient(circle 700px at var(--x) var(--y) , antiqueWhite, red); */
}

:root{
  --x: 50%;
  --y: 50%;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 100px;
  color: red;
}

